body {
    background-color: lightgreen;
    
}

#main-title {
    font-size: 50px;
    font-family: Andale Mono, monospace;
    text-align: center;
}

.content{
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-bottom: 12px;
    
}